.nb-theme-default {
  nb-card-header {
    background: #2ce69b !important;
    color: #fff !important;
  }
}

.logo {
  font-size: 36px;
  position: absolute;
  top: 110px;
  left: calc(50% - 78px);
  font-weight: bold;
  text-shadow: 0px 0px 3px #757575;
}
