<nb-card accent="primary">
  <nb-card-header>
    <button class="back-button" (click)="goBack()">
      <nb-icon icon="arrow-back-outline"></nb-icon>
    </button>
    All User Listing
    <button nbButton status="primary" ngClass="btn-right" routerLink="../create"><nb-icon icon="plus-outline"></nb-icon>Add New User</button>
  </nb-card-header>

  <nb-card-body>
    <div class="row">
      <div class="col-sm-12">
        <div class="employee-filter">
          <nb-form-field>
            <nb-icon nbPrefix icon="search-outline" pack="eva" ></nb-icon>
            <input type="text" nbInput placeholder="User Name" shape="round" [(ngModel)]="userFilterNgModel" (keyup)="userNameSearch(userFilterNgModel)">
          </nb-form-field>
          <br/> <br/>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="listing-table">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users; let i = index">
                <td></td>
                <td>{{ user.name}}</td>
                <td>{{ user.email }}</td>
                <td><span *ngIf="user.roles.length > 0">{{ user?.roles[0].display_name }}</span></td>
                <td>
                  
                  <button nbButton shape="round" status="primary" size="small" routerLink="../edit/{{ user.id }}">
                    <nb-icon icon="edit-2-outline"></nb-icon> Edit
                  </button>
                  
                  <button nbButton shape="round" status="danger" size="small" (click)="delete(user.id)">
                    <nb-icon icon="trash-2-outline"></nb-icon> Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </nb-card-body>

</nb-card>