input,
input:focus {
  outline: 0 !important;
  border: 1px solid #e4e9f2 !important;
  box-shadow: none !important;
}

.reoccurence-rule {
  label {
    display: block !important;
  }
  input {
    margin: 0 15px !important;
  }
}
