<nb-card accent="primary">
  <nb-card-header>
    <!-- <button class="back-button" (click)="goBack()">
      <nb-icon icon="arrow-back-outline"></nb-icon>
    </button> -->
    Payment Gateway
    <!-- <button nbButton status="primary" ngClass="btn-right" routerLink="../create"><nb-icon icon="plus-outline"></nb-icon>Add New Time Sheet</button> -->
  </nb-card-header>
</nb-card>


<div class="row">
  <div class="col-sm-3">
    <nb-card size="medium" [nbSpinner]="loading" nbSpinnerStatus="success">
      <div class="picture">
        <img src="assets/images/payment.jpg" />
      </div>
    
      <div class="details">
        <div class="h4"> {{ employeeName }}</div>
        <div class="description">${{ payAmt }}</div>
      </div>
    
      <nb-card-footer>
        <button nbButton shape="round" size="medium" status="info" (click)="pay()">Pay Now</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>

