<nb-card>
  <nb-card-header>Warning!</nb-card-header>
  <nb-card-body>
    Are you sure, you want to delete the data?
  </nb-card-body>
  <nb-card-footer>
    <button class="btn-spacing cancel" nbButton status="success" (click)="delete('cancel')">Cancel</button>
    <button class="btn-spacing" nbButton status="danger" (click)="delete('ok')">Delete</button>
  </nb-card-footer>
</nb-card>
