<form [formGroup]="timeSheetForm" (ngSubmit)="updateTimeSheet()">
  <nb-card accent="primary">
    <nb-card-header>
      <button class="back-button" (click)="goBack()" type="button">
        <nb-icon icon="arrow-back-outline"></nb-icon>
      </button>
      Update Timesheet
    </nb-card-header>
    
    <nb-card-body>
      <div class="row">
        <div class="col-sm-3">
          <h1 class="section-heading">Employee & Job Details</h1>
          <div class="section-divider"> 
            <span></span>
          </div>
          <br>
        </div>
      </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group" [ngClass]="{'disable-form-field': disableEmployee}">
              <label for="inputEmployee" class="label">Employee</label><br>
  
              <nb-select formControlName="employee_id" name="employee_id" id="inputEmployee" fullWidth required (selectedChange)="employeeSelectChange()">
                <nb-option *ngFor="let employee of employees" [value]="employee.id">
                  {{ employee.name }}
                </nb-option>
              </nb-select>
                <ng-container *ngIf="timeSheetForm.get('employee_id').invalid && timeSheetForm.get('employee_id').touched">
                  <p class="caption status-danger" *ngIf="timeSheetForm.get('employee_id').required">
                    Employee is required.
                  </p>
                </ng-container>
            </div>
          </div>
          <div class="col-sm-12"></div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputJob" class="label">Job</label><br>
  
              <nb-select formControlName="job_id" name="job_id" id="inputJob" fullWidth required>
                <nb-option *ngFor="let job of jobs" [value]="job.id">
                  {{ job.title }}
                </nb-option>
              </nb-select>
                <ng-container *ngIf="timeSheetForm.get('job_id').invalid && timeSheetForm.get('job_id').touched">
                  <p class="caption status-danger" *ngIf="timeSheetForm.get('job_id').required">
                    Job is required.
                  </p>
                </ng-container>
            </div>
          </div>

          <div class="col-sm-12"></div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputStartDate" class="label">Start Date & Time</label>

              <nb-form-field>
                <nb-icon nbPrefix icon="clock-outline" pack="eva"></nb-icon>
                <input 
                  nbInput 
                  placeholder="Pick Date"
                  [nbDatepicker]="startDateTimePicker"
                  fullWidth 
                  formControlName="start_date_time"
                  name="start_date_time"
                  id="inputStartDate"
                  required
                  [status]="timeSheetForm.get('start_date_time').dirty ? (timeSheetForm.get('start_date_time').invalid  ? 'danger' : 'success') : 'basic'"
                  [attr.aria-invalid]="timeSheetForm.get('start_date_time').invalid && timeSheetForm.get('start_date_time').touched ? true : null"
                >
              </nb-form-field>
              <nb-date-timepicker withSeconds #startDateTimePicker></nb-date-timepicker>
              
                <ng-container *ngIf="timeSheetForm.get('start_date_time').invalid && timeSheetForm.get('start_date_time').touched">
                  <p class="caption status-danger" *ngIf="timeSheetForm.get('start_date_time').required">
                    State Date time is required.
                  </p>
                </ng-container>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputEndDate" class="label">End Date & Time</label>

              <nb-form-field>
                <nb-icon nbPrefix icon="clock-outline" pack="eva"></nb-icon>
                <input 
                  nbInput 
                  placeholder="Pick Date"
                  [nbDatepicker]="endDateTimePicker"
                  fullWidth 
                  formControlName="end_date_time"
                  name="end_date_time"
                  id="inputEndDate"
                  required
                  [status]="timeSheetForm.get('end_date_time').dirty ? (timeSheetForm.get('end_date_time').invalid  ? 'danger' : 'success') : 'basic'"
                  [attr.aria-invalid]="timeSheetForm.get('end_date_time').invalid && timeSheetForm.get('end_date_time').touched ? true : null"
                >
              </nb-form-field>
              <nb-date-timepicker withSeconds #endDateTimePicker></nb-date-timepicker>

                <ng-container *ngIf="timeSheetForm.get('end_date_time').invalid && timeSheetForm.get('end_date_time').touched">
                  <p class="caption status-danger" *ngIf="timeSheetForm.get('end_date_time').required">
                    End Date time is required.
                  </p>
                </ng-container>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
          <div class="col-sm-3">
            <h1 class="section-heading">Special Condition</h1>
            <div class="section-divider"> 
              <span></span>
            </div>
            <br>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label for="inputIsSpecialShift" class="label">Is Special Shift?</label><br>
  
              <nb-select formControlName="is_special_shift" name="is_special_shift" id="inputIsSpecialShift" required>
                <nb-option *ngFor="let specialShift of SpecialShifts" [value]="specialShift.value">
                  {{ specialShift.title }}
                </nb-option>
              </nb-select>
                <ng-container *ngIf="timeSheetForm.get('is_special_shift').invalid && timeSheetForm.get('is_special_shift').touched">
                  <p class="caption status-danger" *ngIf="timeSheetForm.get('is_special_shift').required">
                    Special Shift is required.
                  </p>
                </ng-container>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group" [ngClass]="{'disable-form-field': disabledValue, 'second': !disabledValue}">
              <label for="inputSpecialRate" class="label">Special Rate</label>
              <input 
                  type="text" 
                  nbInput 
                  fullWidth
                  type="number"
                  formControlName="special_rate"
                  name="special_rate"
                  id="inputSpecialRate" 
                  placeholder="Enter Rate"
                  [status]="timeSheetForm.get('special_rate').dirty ? (timeSheetForm.get('special_rate').invalid  ? 'danger' : 'success') : 'basic'"
                  [attr.aria-invalid]="timeSheetForm.get('special_rate').invalid && timeSheetForm.get('special_rate').touched ? true : null"
                  >
                <ng-container *ngIf="timeSheetForm.get('special_rate').invalid && timeSheetForm.get('special_rate').touched">
                  <p class="caption status-danger" *ngIf="timeSheetForm.get('special_rate').required">
                    Special Rate is required.
                  </p>
                </ng-container>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-buttons">
              <button 
              type="submit" 
              nbButton 
              status="primary"
              size="large"
              [disabled]="submitted || !timeSheetForm.valid"
              [class.btn-pulse]="submitted"
              >Save</button>
            </div>
          </div>
        </div>
    </nb-card-body>
  </nb-card>
  
  </form>
  