<nb-card accent="primary">
  <nb-card-header>
    <button class="back-button" (click)="goBack()">
      <nb-icon icon="arrow-back-outline"></nb-icon>
    </button>
    Employee Payroll
    <!-- <button nbButton status="primary" ngClass="btn-right" routerLink="../create"><nb-icon icon="plus-outline"></nb-icon>Add New Time Sheet</button> -->
  </nb-card-header>

  <nb-card-body>
    <div class="row">
      <div class="col-sm-2">
        <div class="timesheet-filter">
          <nb-select placeholder="Select Employee" [(ngModel)]="employeeFilterNgModel" (selectedChange)="filerChanged($event)" shape="round" fullWidth>
            <nb-option *ngFor="let employee of employees; let i = index" [value]="employee">{{ employee.name }}</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="timesheet-filter">
          <input nbInput placeholder="Pick Date Range" [nbDatepicker]="payrollRangePicker" [(ngModel)]="payrollDateRange" shape="round" fullWidth>
          <nb-rangepicker #payrollRangePicker></nb-rangepicker>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="timesheet-filter">
          <button nbButton shape="round" size="medium" status="info" (click)="searchPayroll()">Search Payroll</button>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="timesheet-filter">
          <br> <br>
        </div>
      </div>
      
      <div class="col-sm-12">
        <div class="listing-table">
          <table>
            <thead>
              <tr>
                <th>Period Start Date</th>
                <th>Period End Date</th>
                <th>Pay Amount</th>
                <th>Payment Due</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            
            <tbody *ngIf="payrolls.length > 0">
              <tr *ngFor="let timeSheet of payrolls; let i = index">
                <td>{{ timeSheet?.period_for_start_date | date:'mediumDate'}}</td>
                <td>{{ timeSheet?.period_for_end_date | date:'mediumDate'}} </td>
                <td>{{ timeSheet?.amount | currency }} </td>
                <td [ngClass]="{'due-soon': timeSheet?.due_days < 5, 'due-normal': timeSheet?.due_days > 4}">
                  in {{ timeSheet?.due_days }} days
                </td>
                <td>
                  {{ timeSheet?.status | uppercase }}
                </td>
                <td> 
                  <button nbButton shape="round" status="primary" size="small" (click)="paymentGateway(timeSheet)">
                    <nb-icon icon="checkmark-circle-outline"></nb-icon> Pay
                  </button>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="payrolls.length == 0">
              <tr>
                <td colspan="5" class="text-center table-no-data">
                  Please Select Employee and/or Date range to view the payroll
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

