<form [formGroup]="jobForm" (ngSubmit)="updateJobRequest()">
  <nb-card accent="primary">
    <nb-card-header>
      <button class="back-button" (click)="goBack()" type="button">
        <nb-icon icon="arrow-back-outline"></nb-icon>
      </button>
      Edit Job Request
    </nb-card-header>
    
    <nb-card-body>
      <div class="row">
        <div class="col-sm-12">
          <h1 class="section-heading">Job Details</h1>
          <div class="section-divider"> 
            <span></span>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputJobtitle" class="label">Job Title</label>
              <input 
                  type="text" 
                  nbInput 
                  fullWidth
                  formControlName="title"
                  name="title"
                  autofocus
                  id="inputJobtitle" 
                  placeholder="Job Title"
                  required
                  [status]="jobForm.get('title').dirty ? (jobForm.get('title').invalid  ? 'danger' : 'success') : 'basic'"
                  [attr.aria-invalid]="jobForm.get('title').invalid && jobForm.get('title').touched ? true : null"
                >
                <ng-container *ngIf="jobForm.get('title').invalid && jobForm.get('title').touched">
                  <p class="caption status-danger" *ngIf="jobForm.get('title').required">
                    Job title is required.
                  </p>
                  <p class="caption status-danger" *ngIf="jobForm.get('title').minLength">
                    Title must be atleast 6 character long.
                  </p>
                </ng-container>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputCatId" class="label">Skill Category</label><br>
              <nb-select formControlName="category_id" name="category_id" id="inputCatId" fullWidth>
                <nb-option *ngFor="let category of categories" [value]="category.id">
                  {{ category.name }}
                </nb-option>
              </nb-select>
                <ng-container *ngIf="jobForm.get('category_id').invalid && jobForm.get('category_id').touched">
                  <p class="caption status-danger" *ngIf="jobForm.get('category_id').required">
                    Skill category is required.
                  </p>
                </ng-container>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputLocation" class="label">Location</label>
              <input 
                  type="text" 
                  nbInput 
                  fullWidth
                  formControlName="location"
                  name="location"
                  id="inputLocation" 
                  placeholder="Location"
                  required
                  [status]="jobForm.get('location').dirty ? (jobForm.get('location').invalid  ? 'danger' : 'success') : 'basic'"
                  [attr.aria-invalid]="jobForm.get('location').invalid && jobForm.get('location').touched ? true : null"
                >
                <ng-container *ngIf="jobForm.get('location').invalid && jobForm.get('location').touched">
                  <p class="caption status-danger" *ngIf="jobForm.get('location').required">
                    Location is required.
                  </p>
                </ng-container>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputStatus" class="label">Status</label> <br>
                <nb-select formControlName="status" name="status" id="inputStatus">
                  <nb-option *ngFor="let option of statusOptions" [value]="option.value">
                    {{ option.title }}
                  </nb-option>
                </nb-select>
                <ng-container *ngIf="jobForm.get('status').invalid && jobForm.get('status').touched">
                  <p class="caption status-danger" *ngIf="jobForm.get('status').required">
                    status is required.
                  </p>
                </ng-container>
              </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputNoOfEmployee" class="label">No. of Employee</label>
              <input 
                  type="text" 
                  nbInput 
                  fullWidth
                  formControlName="no_of_employee"
                  name="no_of_employee"
                  id="inputNoOfEmployee" 
                  placeholder="No. of Employee"
                  required
                  [status]="jobForm.get('no_of_employee').dirty ? (jobForm.get('no_of_employee').invalid  ? 'danger' : 'success') : 'basic'"
                  [attr.aria-invalid]="jobForm.get('no_of_employee').invalid && jobForm.get('no_of_employee').touched ? true : null"
                >
                <ng-container *ngIf="jobForm.get('no_of_employee').invalid && jobForm.get('no_of_employee').touched">
                  <p class="caption status-danger" *ngIf="jobForm.get('no_of_employee').required">
                    Number of employee is required.
                  </p>
                </ng-container>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputPaidFrequency" class="label">Paid Frequency</label><br>
              <nb-select formControlName="paid_frequency" name="paid_frequency" id="inputPaidFrequency" required>
                <nb-option *ngFor="let option of paidFrequencyOptions" [value]="option.value">
                  {{ option.title }}
                </nb-option>
              </nb-select>
                <ng-container *ngIf="jobForm.get('paid_frequency').invalid && jobForm.get('paid_frequency').touched">
                  <p class="caption status-danger" *ngIf="jobForm.get('paid_frequency').required">
                    Paid Frequency is required.
                  </p>
                </ng-container>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputBaseRate" class="label">Base Rate</label>
              <input 
                  type="text" 
                  nbInput 
                  fullWidth
                  formControlName="base_rate"
                  name="base_rate"
                  id="inputBaseRate" 
                  placeholder="Base Rate"
                  required
                  [status]="jobForm.get('base_rate').dirty ? (jobForm.get('base_rate').invalid  ? 'danger' : 'success') : 'basic'"
                  [attr.aria-invalid]="jobForm.get('base_rate').invalid && jobForm.get('base_rate').touched ? true : null"
                >
                <ng-container *ngIf="jobForm.get('base_rate').invalid && jobForm.get('base_rate').touched">
                  <p class="caption status-danger" *ngIf="jobForm.get('base_rate').required">
                    Base Rate is required.
                  </p>
                </ng-container>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputClientId" class="label">Client</label><br>
              <nb-select formControlName="client_id" name="client_id" id="inputClientId" fullWidth>
                <nb-option *ngFor="let option of options" [value]="option.id">
                  {{ option.name }}
                </nb-option>
              </nb-select>
              <!-- <input 
                  type="text" 
                  nbInput 
                  fullWidth
                  formControlName="client_id"
                  name="client_id"
                  
                  id="inputClientId" 
                  placeholder="Select Client"
                  required
                  [status]="jobForm.get('client_id').dirty ? (jobForm.get('client_id').invalid  ? 'danger' : 'success') : 'basic'"
                  [attr.aria-invalid]="jobForm.get('client_id').invalid && jobForm.get('client_id').touched ? true : null"
                > -->
                <ng-container *ngIf="jobForm.get('client_id').invalid && jobForm.get('client_id').touched">
                  <p class="caption status-danger" *ngIf="jobForm.get('client_id').required">
                    Client selection is required.
                  </p>
                </ng-container>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputNote" class="label">Note</label>
              <input 
                  type="text" 
                  nbInput 
                  fullWidth
                  formControlName="note"
                  name="note"
                  
                  id="inputNote" 
                  placeholder="Enter short note"
                  required
                  [status]="jobForm.get('note').dirty ? (jobForm.get('note').invalid  ? 'danger' : 'success') : 'basic'"
                  [attr.aria-invalid]="jobForm.get('note').invalid && jobForm.get('note').touched ? true : null"
                >
                <ng-container *ngIf="jobForm.get('note').invalid && jobForm.get('note').touched">
                  <p class="caption status-danger" *ngIf="jobForm.get('note').required">
                    Note is required.
                  </p>
                </ng-container>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputDescription" class="label">Description</label>
              <input 
                  type="text" 
                  nbInput 
                  fullWidth
                  formControlName="description"
                  name="description"
                  
                  id="inputDescription" 
                  placeholder="Enter short description"
                  required
                  [status]="jobForm.get('description').dirty ? (jobForm.get('description').invalid  ? 'danger' : 'success') : 'basic'"
                  [attr.aria-invalid]="jobForm.get('description').invalid && jobForm.get('description').touched ? true : null"
                >
                <ng-container *ngIf="jobForm.get('description').invalid && jobForm.get('description').touched">
                  <p class="caption status-danger" *ngIf="jobForm.get('description').required">
                    Description is required.
                  </p>
                </ng-container>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h1 class="section-heading">Job Schedule</h1>
            <div class="section-divider"> 
              <span></span>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputJobStartDate" class="label">Start Date</label><br>
                <input nbInput fullWidth placeholder="Pick Date" [nbDatepicker]="startDate" formControlName="start_date" 
                required
                [status]="jobForm.get('start_date').dirty ? (jobForm.get('start_date').invalid  ? 'danger' : 'success') : 'basic'"
                [attr.aria-invalid]="jobForm.get('start_date').invalid && jobForm.get('start_date').touched ? true : null"
                >
                <nb-datepicker #startDate></nb-datepicker>
                <ng-container *ngIf="jobForm.get('start_date').invalid && jobForm.get('start_date').touched">
                  <p class="caption status-danger" *ngIf="jobForm.get('start_date').required">
                    Start Date is required.
                  </p>
                </ng-container>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputJobEndDate" class="label">End Date</label><br>
                <input nbInput fullWidth placeholder="Pick Date" [nbDatepicker]="endDate" formControlName="end_date" 
                required
                [status]="jobForm.get('end_date').dirty ? (jobForm.get('end_date').invalid  ? 'danger' : 'success') : 'basic'"
                [attr.aria-invalid]="jobForm.get('end_date').invalid && jobForm.get('end_date').touched ? true : null"
                >
                <nb-datepicker #endDate></nb-datepicker>
                <ng-container *ngIf="jobForm.get('end_date').invalid && jobForm.get('end_date').touched">
                  <p class="caption status-danger" *ngIf="jobForm.get('end_date').required">
                    End Date is required.
                  </p>
                </ng-container>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputIsRecurring" class="label">Is Recurring</label>
              <nb-select formControlName="is_recurring" name="is_recurring" id="inputIsRecurring" fullWidth required
              [status]="jobForm.get('is_recurring').dirty ? (jobForm.get('is_recurring').invalid  ? 'danger' : 'success') : 'basic'"
              [attr.aria-invalid]="jobForm.get('is_recurring').invalid && jobForm.get('is_recurring').touched ? true : null">
                <nb-option *ngFor="let recurringOption of recurringOptions" [value]="recurringOption.value">
                  {{ recurringOption.title }}
                </nb-option>
              </nb-select>
              <ng-container *ngIf="jobForm.get('is_recurring').invalid && jobForm.get('is_recurring').touched">
                <p class="caption status-danger" *ngIf="jobForm.get('is_recurring').required">
                  Is Recurring is required.
                </p>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="row reoccurence-rule" [ngClass]="isRecurringCheck">
          <div class="col-sm-12">
            <h1 class="section-heading">Recurring Detail</h1>
            <div class="section-divider"> 
              <span></span>
            </div>
          </div>
          <div class="col-sm-12">
            <div>
              <ngx-rrule formControlName="rrule"
              [hideStart]="true"
              [hideEnd]="false"
              [frequency]="['Daily','Monthly','Weekly', 'Yearly']">
              </ngx-rrule>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-buttons">
              <button 
              type="submit" 
              nbButton 
              status="primary"
              size="large"
              [disabled]="submitted || !jobForm.valid"
              [class.btn-pulse]="submitted"
              >Save</button>
            </div>
          </div>
        </div>
    </nb-card-body>
  </nb-card>
  
  </form>
  