<nb-card accent="primary">
  <nb-card-header>
    <button class="back-button" (click)="goBack()">
      <nb-icon icon="arrow-back-outline"></nb-icon>
    </button>
    Clients
    <button nbButton status="primary" ngClass="btn-right" routerLink="../create"><nb-icon icon="plus-outline"></nb-icon>Add Client</button>
  </nb-card-header>

  <nb-card-body>
    <div class="row">
      <div class="col-sm-12">
        <div class="client-filter">
          <nb-form-field>
            <nb-icon nbPrefix icon="search-outline" pack="eva" ></nb-icon>
            <input type="text" nbInput placeholder="Client Name" shape="round" [(ngModel)]="clientFilterNgModel" (keyup)="clientNameSearch(clientFilterNgModel)">
          </nb-form-field>
          <br/> <br/>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="listing-table">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Contact No.</th>
                <th>ABN</th>
                <th>Outstanding Payment</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let client of clients; let i = index"
              [class.active]="i == currentIndex"
              (click)="setActiveClient(tutorial, i)">
                <td>{{ client.name}}</td>
                <td>{{ client.contact_no }}</td>
                <td>{{ client.abn }}</td>
                <td>{{ client.outstanding_payment }}</td>
                <td> 
                  <button nbButton shape="round" status="primary" size="small" routerLink="../edit/{{ client.id }}">
                    <nb-icon icon="edit-2-outline"></nb-icon> Edit
                  </button>
                  
                  <button nbButton shape="round" status="danger" size="small" (click)="delete(client.id)">
                    <nb-icon icon="trash-2-outline"></nb-icon> Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

