<nb-card accent="primary">
  <nb-card-header>
    <button class="back-button" (click)="goBack()" type="button">
      <nb-icon icon="arrow-back-outline"></nb-icon>
    </button>
    Create Client
  </nb-card-header>
  
  <nb-card-body>
    <form (ngSubmit)="saveClient()" #form="ngForm" aria-labelledby="CompanyDetail">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="section-heading">Client Details</h1>
          <div class="section-divider"> 
            <span></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputCompanyName" class="label">Client Name</label>
            <input 
                type="text" 
                nbInput 
                fullWidth
                [(ngModel)]="clientDetail.name"
                #name="ngModel"
                name="name"
                autofocus
                id="inputCompanyName" 
                placeholder="Client Name"
                required
                [status]="name.dirty ? (name.invalid  ? 'danger' : 'success') : 'basic'"
                [attr.aria-invalid]="name.invalid && name.touched ? true : null"
              >
              <ng-container *ngIf="name.invalid && name.touched">
                <p class="caption status-danger" *ngIf="name.errors?.required">
                  Client name is required!
                </p>
              </ng-container>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputABN" class="label">ABN</label>
            <input 
              type="text" 
              nbInput 
              fullWidth
              [(ngModel)]="clientDetail.abn"
              #abn="ngModel"
              name="abn"
              pattern="^(\d *?){11}$"
              id="inputABN" 
              placeholder="Australian Business Number"
              required
              [status]="abn.dirty ? (abn.invalid  ? 'danger' : 'success') : 'basic'"
              [attr.aria-invalid]="abn.invalid && abn.touched ? true : null"
            >
            <ng-container *ngIf="abn.invalid && abn.touched">
              <p class="caption status-danger" *ngIf="abn.errors?.required">
                Australian Business Number is required!
              </p>
              <p class="caption status-danger" *ngIf="abn.errors?.pattern">
                Please enter valid ABN
              </p>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputAddress" class="label">Address</label>
            <input 
              type="text" 
              nbInput 
              fullWidth
              [(ngModel)]="clientDetail.address"
              #address="ngModel"
              name="address"
              id="inputAddress" 
              placeholder="Address"
              required
              [status]="address.dirty ? (address.invalid  ? 'danger' : 'success') : 'basic'"
              [attr.aria-invalid]="address.invalid && address.touched ? true : null"
            >
            <ng-container *ngIf="address.invalid && address.touched">
              <p class="caption status-danger" *ngIf="address.errors?.required">
                Address is required!
              </p>
            </ng-container>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputContactNo" class="label">Contact No.</label>
            <input 
              type="text" 
              nbInput 
              fullWidth
              [(ngModel)]="clientDetail.contact_no"
              #contact_no="ngModel"
              name="contact_no"
              id="inputContactNo"
              pattern="(\(+61\)|\+61|\(0[1-9]\)|0[1-9])?( ?-?[0-9]){6,9}"
              placeholder="Contact Number"
              required
              [status]="contact_no.dirty ? (contact_no.invalid  ? 'danger' : 'success') : 'basic'"
              [attr.aria-invalid]="contact_no.invalid && contact_no.touched ? true : null"
            >
            <ng-container *ngIf="contact_no.invalid && contact_no.touched">
              <p class="caption status-danger" *ngIf="contact_no.errors?.required">
                Contact number is required!
              </p>
              <p class="caption status-danger" *ngIf="contact_no.errors?.pattern">
                Please enter valid phone/mobile number
              </p>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputEmail" class="label">Email Address</label>
            <input 
              type="text" 
              nbInput 
              fullWidth
              [(ngModel)]="clientDetail.email"
              #email="ngModel"
              name="email"
              id="inputEmail" 
              placeholder="email address"
              [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : 'basic'"
              [attr.aria-invalid]="email.invalid && email.touched ? true : null"
            >
            <ng-container *ngIf="email.invalid && email.touched">
              <p class="caption status-danger" *ngIf="email.errors?.required">
                Email is required!
              </p>
            </ng-container>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputWebsiteUrl" class="label">Website URL</label>
            <input 
              type="text" 
              nbInput 
              fullWidth
              [(ngModel)]="clientDetail.url"
              #url="ngModel"
              name="url"
              pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)"
              id="inputWebsiteUrl" 
              placeholder="Website URL"
              [status]="url.dirty ? (url.invalid  ? 'danger' : 'success') : 'basic'"
              [attr.aria-invalid]="url.invalid && url.touched ? true : null"
            >
            <ng-container *ngIf="url.invalid && url.touched">
              <p class="caption status-danger" *ngIf="url.errors?.pattern">
                Please enter valid url
              </p>
            </ng-container>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputWebsite" class="label">Status</label><br/>
            <nb-select selected="0" [(ngModel)]="clientDetail.status" name="status">
              <nb-option value="1">Active</nb-option>
              <nb-option value="0">Inactive</nb-option>
            </nb-select>
          </div>
        </div>
      </div>
      <button 
          type="submit" 
          nbButton 
          status="primary"
          size="large"
          [disabled]="submitted || !form.valid"
          [class.btn-pulse]="submitted">Save</button>

          <!-- <button 
          type="submit" 
          nbButton 
          status="warning"
          size="large"
          [class.btn-pulse]="submitted">Reset</button> -->
    </form>
  </nb-card-body>
</nb-card>
