table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #0095ff;
  color: white;
}

td,
th {
  padding: 10px;
  border: 1px solid rgba(9, 130, 216, 0.4);
  text-align: left;
  font-size: 16px;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table {
    width: 100%;
  }

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    /* Label the data */
    content: attr(data-column);

    color: #000;
    font-weight: bold;
  }
}

td.not-available {
  background-color: palevioletred;
}

td.available {
  background-color: rgb(38, 199, 6);
}

tbody > tr > td:first-child {
  border-left: 3px solid rgb(156, 10, 0);
}

tbody > tr:first-child > td:first-child {
  border-left: 3px solid #00ff56 !important;
}
