<nb-card accent="primary">
  <nb-card-header>
    <button class="back-button" (click)="goBack()" type="button">
      <nb-icon status="control" icon="arrow-back-outline"></nb-icon>
    </button>
    Availability History
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-12">
        <div class="av-listing-table">
          <table>
            <thead>
              <tr>
                <th colspan="2">Availability Period</th>
                <th rowspan="2">Monday</th>
                <th rowspan="2">Tuesday</th>
                <th rowspan="2">Wednesday</th>
                <th rowspan="2">Thursday</th>
                <th rowspan="2">Friday</th>
                <th rowspan="2">Saturday</th>
                <th rowspan="2">Sunday</th>
              </tr>
              <tr>
                <th>Start</th>
                <th>End</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let availability of availabilities; let i = index">
                <td> {{ availability?.availability_for_start_date }}</td>
                <td>{{ availability?.availability_for_end_date }} </td>
                <td [ngClass]="{'not-available': availability?.monday == 0, 'available': availability?.monday == 1}">
                  <nb-icon status="control" icon="checkmark-outline" *ngIf="availability?.monday == 1"></nb-icon>
                  <nb-icon status="control" icon="close-outline" *ngIf="availability?.monday == 0"></nb-icon>    
                </td>
                <td [ngClass]="{'not-available': availability?.tuesday == 0, 'available': availability?.tuesday == 1}">
                  <nb-icon status="control" icon="checkmark-outline" *ngIf="availability?.tuesday == 1"></nb-icon>
                  <nb-icon status="control" icon="close-outline" *ngIf="availability?.tuesday == 0"></nb-icon>
                </td>
                <td [ngClass]="{'not-available': availability?.wednesday == 0, 'available': availability?.wednesday == 1}">
                  <nb-icon status="control" icon="checkmark-outline" *ngIf="availability?.wednesday == 1"></nb-icon>
                  <nb-icon status="control" icon="close-outline" *ngIf="availability?.wednesday == 0"></nb-icon>
                </td>
                <td [ngClass]="{'not-available': availability?.thursday == 0, 'available': availability?.thursday == 1}">
                  <nb-icon status="control" icon="checkmark-outline" *ngIf="availability?.thursday == 1"></nb-icon>
                  <nb-icon status="control" icon="close-outline" *ngIf="availability?.thursday == 0"></nb-icon>
                </td>
                <td [ngClass]="{'not-available': availability?.friday == 0, 'available': availability?.friday == 1}">
                  <nb-icon status="control" icon="checkmark-outline" *ngIf="availability?.friday == 1"></nb-icon>
                  <nb-icon status="control" icon="close-outline" *ngIf="availability?.friday == 0"></nb-icon>
                </td>
                <td [ngClass]="{'not-available': availability?.saturday == 0, 'available': availability?.saturday == 1}">
                  <nb-icon status="control" icon="checkmark-outline" *ngIf="availability?.saturday == 1"></nb-icon>
                  <nb-icon status="control" icon="close-outline" *ngIf="availability?.saturday == 0"></nb-icon>
                </td>
                <td [ngClass]="{'not-available': availability?.sunday == 0, 'available': availability?.sunday == 1}">
                  <nb-icon status="control" icon="checkmark-outline" *ngIf="availability?.sunday == 1"></nb-icon>
                  <nb-icon status="control" icon="close-outline" *ngIf="availability?.sunday == 0"></nb-icon>
                </td>
              </tr>
            </tbody>
          </table>
          <br>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<form [formGroup]="availabilityForm" (ngSubmit)="createAvailability()" class="availability">
  <nb-card accent="primary">
    <nb-card-header>
      Change Employee Availability
    </nb-card-header>
    
    <nb-card-body>
      <div class="row">
        <div class="col-sm-12">
          <h1 class="section-heading">Availability Detail</h1>
          <div class="section-divider"> 
            <span></span>
          </div>
        <br>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="inputJobStartDate" class="label">Availability Start Date</label><br>
            <input nbInput fullWidth placeholder="Pick Date" [nbDatepicker]="startDate" formControlName="availability_for_start_date" 
            required
            [status]="availabilityForm.get('availability_for_start_date').dirty ? (availabilityForm.get('availability_for_start_date').invalid  ? 'danger' : 'success') : 'basic'"
            [attr.aria-invalid]="availabilityForm.get('availability_for_start_date').invalid && availabilityForm.get('availability_for_start_date').touched ? true : null"
            >
            <nb-datepicker #startDate></nb-datepicker>
            <ng-container *ngIf="availabilityForm.get('availability_for_start_date').invalid && availabilityForm.get('availability_for_start_date').touched">
              <p class="caption status-danger" *ngIf="availabilityForm.get('availability_for_start_date').required">
                Start Date is required.
              </p>
            </ng-container>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="inputJobEndDate" class="label">Availability End Date</label><br>
            <input nbInput fullWidth placeholder="Pick Date" [nbDatepicker]="endDate" formControlName="availability_for_end_date" 
            required
            [status]="availabilityForm.get('availability_for_end_date').dirty ? (availabilityForm.get('availability_for_end_date').invalid  ? 'danger' : 'success') : 'basic'"
            [attr.aria-invalid]="availabilityForm.get('availability_for_end_date').invalid && availabilityForm.get('availability_for_end_date').touched ? true : null"
            >
            <nb-datepicker #endDate></nb-datepicker>
            <ng-container *ngIf="availabilityForm.get('availability_for_end_date').invalid && availabilityForm.get('availability_for_end_date').touched">
              <p class="caption status-danger" *ngIf="availabilityForm.get('availability_for_end_date').required">
                End Date is required.
              </p>
            </ng-container>
          </div>
        </div>
    </div>

    <div class="divider"></div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <nb-checkbox
            formControlName="monday"
            name="monday"
            id="inputMonday">Monday</nb-checkbox>
          </div>
        </div>
      </div>

      <div class="divider"></div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <nb-checkbox
            formControlName="tuesday"
            name="tuesday"
            id="inputTuesday">Tuesday</nb-checkbox>
          </div>
        </div>
      </div>

      <div class="divider"></div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <nb-checkbox
            formControlName="wednesday"
            name="wednesday"
            id="inputWednesday">Wednesday</nb-checkbox>
          </div>
        </div>
      </div>

      <div class="divider"></div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <nb-checkbox
            formControlName="thursday"
            name="thursday"
            id="inputThursday">Thursday</nb-checkbox>
          </div>
        </div>
      </div>

      <div class="divider"></div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <nb-checkbox
            formControlName="friday"
            name="friday"
            id="inputFriday">Friday</nb-checkbox>
          </div>
        </div>
      </div>

      <div class="divider"></div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <nb-checkbox
            formControlName="saturday"
            name="saturday"
            id="inputSaturday">Saturday</nb-checkbox>
          </div>
        </div>
      </div>

      <div class="divider"></div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <nb-checkbox
            formControlName="sunday"
            name="sunday"
            id="inputSunday">Sunday</nb-checkbox>
          </div>
        </div>
      </div>

      <div class="divider"></div>

      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="inputStatus" class="label">Status</label> <br>
              <nb-select formControlName="status" name="status" id="inputStatus" fullWidth>
                <nb-option *ngFor="let option of statusOptions" [value]="option.value">
                  {{ option.title }}
                </nb-option>
              </nb-select>
              <ng-container *ngIf="availabilityForm.get('status').invalid && availabilityForm.get('status').touched">
                <p class="caption status-danger" *ngIf="availabilityForm.get('status').required">
                  status is required.
                </p>
              </ng-container>
            </div>
        </div>
      </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-buttons">
              <button 
              type="submit" 
              nbButton 
              status="primary"
              size="large"
              [disabled]="submitted || !availabilityForm.valid"
              [class.btn-pulse]="submitted"
              >Save</button>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </nb-card-body>
  </nb-card>
  
  </form>
  