@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

// themes - our custom or/and out of the box themes
@import "themes";

// framework component themes (styles tied to theme variables)
@import "~@nebular/theme/styles/globals";
@import "~@nebular/auth/styles/globals";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";

// loading progress bar theme
@import "./pace.theme";

@import "./layout";
@import "./overrides";

// install the framework and custom global styles
@include nb-install() {
  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
}

.btn-right {
  float: right;
}

.text-center {
  text-align: center;
}

.table-no-data {
  font-size: 16px;
  padding: 45px 0px !important;
}

.logo {
  img {
    width: 70px;
  }
}

.login-logo {
  text-align: center;
  img {
    width: 120px;
  }
}

.listing-table {
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

    td,
    th {
      border: 0px solid #f0f0f0;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #f0f0f0;
    }

    thead {
      tr {
        border-bottom: 3px solid #ffc107;
      }
    }

    button {
      margin-right: 8px;
    }
  }
}

.back-button,
.back-button:focus {
  outline: 0;
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background: #3366ff;
  color: #fff;
  margin-right: 15px;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.section-heading {
  font-size: 1.1em !important;
  letter-spacing: 0.08em;
  font-weight: 400 !important;
  color: #ffc107 !important;
  text-shadow: 0 1px 1px #ffffff;
  text-transform: uppercase;
  line-height: 1.2rem !important;
  margin-top: 15px;
}

.section-divider {
  border-bottom: 1px solid #fff;
  background-color: #ffd452 !important;
  height: 3px;
  margin: 0.2em 0px 0.8em;

  span {
    display: block;
    width: 50px;
    height: 2px;
    background-color: #36f;
  }
}

.recurring-disabled,
.disable-form-field {
  pointer-events: none;
  opacity: 0.7;
}

.recurring-enabled {
  opacity: 1;
}

.form-buttons {
  margin-top: 15px;
}

.infoTable {
  width: 420px;
  border-collapse: collapse;

  tr {
    td {
      border: 1px solid #e8e8e8;
      padding: 4px 15px;
      &:first-child {
        background: #ececec;
      }
    }
  }
}

.availability {
  .day {
    h3 {
      font-size: 16px !important;
    }
  }
}

.divider {
  width: 100%;
  height: 2px;
  background: #f7f7f7;
  margin-bottom: 6px;
}
