<nb-card accent="primary">
  <nb-card-header>
    <button class="back-button" (click)="goBack()">
      <nb-icon icon="arrow-back-outline"></nb-icon>
    </button>
    Client Invoice History
    <!-- <button nbButton status="primary" ngClass="btn-right" routerLink="../create"><nb-icon icon="plus-outline"></nb-icon>Add New Time Sheet</button> -->
  </nb-card-header>

  <nb-card-body [nbSpinner]="loading" nbSpinnerStatus="success">
    <div class="row">
      <div class="col-sm-12">
        <div class="listing-table">
          <table>
            <thead>
              <tr>
                <th>S/N</th>
                <th>Client</th>
                <th>Job Title</th>
                <th>Period Start Date</th>
                <th>Period End Date</th>
                <th>Amount Paid</th>
                <th>Status</th>
              </tr>
            </thead>
            
            <tbody *ngIf="invoices.length > 0">
              <tr *ngFor="let invoice of invoices; index as i">
                <td> {{ i + 1 }}</td>
                <td>{{ invoice?.client_name }}</td>
                <td>{{ invoice?.job_name}}</td>
                <td>{{ invoice?.period_for_start_date | date:'mediumDate'}}</td>
                <td>{{ invoice?.period_for_end_date | date:'mediumDate'}} </td>
                <td>{{ invoice?.amount | currency }} </td>
                <td>
                  {{ invoice?.status | uppercase }}
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="invoices.length == 0">
              <tr>
                <td colspan="5" class="text-center table-no-data">
                  No invoices found.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

