<nb-card accent="primary">
  <nb-card-header>
    <button class="back-button" (click)="goBack()">
      <nb-icon icon="arrow-back-outline"></nb-icon>
    </button>
    Payroll History
    <!-- <button nbButton status="primary" ngClass="btn-right" routerLink="../create"><nb-icon icon="plus-outline"></nb-icon>Add New Time Sheet</button> -->
  </nb-card-header>

  <nb-card-body>
    <div class="row">
      <div class="col-sm-2">
        <div class="timesheet-filter">
          <nb-select placeholder="Select Employee" [(ngModel)]="employeeFilterNgModel" shape="round" fullWidth>
            <nb-option *ngFor="let employee of employees; let i = index" [value]="employee.id">{{ employee.name }}</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="timesheet-filter">
          <button nbButton shape="round" size="medium" status="info" (click)="getPayrollHistory()">Get Payroll</button>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="timesheet-filter">
          <br> <br>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="listing-table">
          <table>
            <thead>
              <tr>
                <th>S/N</th>
                <th>Period Start Date</th>
                <th>Period End Date</th>
                <th>Amount Paid</th>
                <th>Status</th>
              </tr>
            </thead>
            
            <tbody *ngIf="payrolls.length > 0">
              <tr *ngFor="let timeSheet of payrolls; index as i">
                <td> {{ i + 1 }}</td>
                <td>{{ timeSheet?.period_for_start_date | date:'mediumDate'}}</td>
                <td>{{ timeSheet?.period_for_end_date | date:'mediumDate'}} </td>
                <td>{{ timeSheet?.amount | currency }} </td>
                <td>
                  {{ timeSheet?.status | uppercase}}
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="payrolls.length == 0">
              <tr>
                <td colspan="5" class="text-center table-no-data">
                  Please Select Employee to view their payroll.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

