<nb-card accent="primary">
  <nb-card-header>
    <button class="back-button" (click)="goBack()">
      <nb-icon icon="arrow-back-outline"></nb-icon>
    </button>
    Skill / Category
    <button nbButton status="primary" ngClass="btn-right" (click)="showCreateForm()"><nb-icon icon="plus-outline"></nb-icon>Add Skill Category</button>
  </nb-card-header>

  <nb-card-body>
    <div class="row">

      <div class="col-sm-12" *ngIf="addFormActive">
        <form [formGroup]="skillCreateForm" (ngSubmit)="createSkill()">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="section-heading">Create Category</h1>
              <div class="section-divider"> 
                <span></span>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="inputName" class="label">Category Name</label>
                <input 
                    type="text" 
                    nbInput 
                    fullWidth
                    formControlName="name"
                    name="name"
                    autofocus
                    id="inputName" 
                    placeholder="Category Name"
                    required
                    [status]="skillCreateForm.get('name').dirty ? (skillCreateForm.get('name').invalid  ? 'danger' : 'success') : 'basic'"
                    [attr.aria-invalid]="skillCreateForm.get('name').invalid && skillCreateForm.get('name').touched ? true : null"
                  >
                  <ng-container *ngIf="skillCreateForm.get('name').invalid && skillCreateForm.get('name').touched">
                    <p class="caption status-danger" *ngIf="skillCreateForm.get('name').required">
                      Category Name is required.
                    </p>
                  </ng-container>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <br/>
                <button
                id="submitBtn1" 
                type="submit" 
                nbButton 
                status="primary"
                size="large"
                [disabled]="!skillCreateForm.valid"
                >Save</button>
              </div>
            </div>
          </div>
        </form>

      </div>

      <div class="col-sm-12" *ngIf="editFormActive">
        <form [formGroup]="skillEditForm" (ngSubmit)="updateSkill()">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="section-heading">Update Category</h1>
              <div class="section-divider"> 
                <span></span>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="inputName1" class="label">Category Name</label>
                <input 
                    type="text" 
                    nbInput 
                    fullWidth
                    formControlName="name"
                    name="name"
                    autofocus
                    id="inputName1" 
                    placeholder="Category Name"
                    required
                    [status]="skillCreateForm.get('name').dirty ? (skillCreateForm.get('name').invalid  ? 'danger' : 'success') : 'basic'"
                    [attr.aria-invalid]="skillCreateForm.get('name').invalid && skillCreateForm.get('name').touched ? true : null"
                  >
                  <ng-container *ngIf="skillCreateForm.get('name').invalid && skillCreateForm.get('name').touched">
                    <p class="caption status-danger" *ngIf="skillCreateForm.get('name').required">
                      Cetrgory Name is required.
                    </p>
                  </ng-container>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <br/>
                <button 
                id="submitBtn"
                type="submit" 
                nbButton 
                status="primary"
                size="large"
                [disabled]="!skillEditForm.valid"
                >Save</button>
              </div>
            </div>
          </div>
        </form>

      </div>

      <div class="col-sm-12">
        <br>
        <br>
        <h1 class="section-heading">Skills Category</h1>
        <div class="section-divider"> 
          <span></span>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="listing-table">
          <table>
            <thead>
              <tr>
                <th>S/N</th>
                <th>Name</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let skill of skills; let i = index">
                <td>{{ i+1 }}</td>
                <td>{{ skill.name | titlecase }}</td>
                <td>
                  
                  <button nbButton shape="round" status="primary" size="small" (click)="showEditForm(skill)">
                    <nb-icon icon="edit-2-outline"></nb-icon> Edit
                  </button>
                  
                  <!-- <button nbButton shape="round" status="danger" size="small" (click)="delete(employee.id)">
                    <nb-icon icon="trash-2-outline"></nb-icon> Delete
                  </button> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

