<nb-card accent="primary">
  <nb-card-header>
    <button class="back-button" (click)="goBack()">
      <nb-icon icon="arrow-back-outline"></nb-icon>
    </button>
    Employees
    <button nbButton status="primary" ngClass="btn-right" routerLink="../create"><nb-icon icon="plus-outline"></nb-icon>Add Employee</button>
  </nb-card-header>

  <nb-card-body>
    <div class="row">
      <div class="col-sm-12">
        <div class="employee-filter">
          <nb-form-field>
            <nb-icon nbPrefix icon="search-outline" pack="eva" ></nb-icon>
            <input type="text" nbInput placeholder="Employee Name" shape="round" [(ngModel)]="employeeFilterNgModel" (keyup)="employeeNameSearch(employeeFilterNgModel)">
          </nb-form-field>
          <br/> <br/>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="listing-table">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Skill</th>
                <th>Phone No.</th>
                <th>Email</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of employees; let i = index"
              [class.active]="i == currentIndex"
              (click)="setActiveemployee(tutorial, i)">
                <td></td>
                <td>{{ employee.name}}</td>
                <td>{{ employee.category_name }}</td>
                <td>{{ employee.phone_number }}</td>
                <td>{{ employee.email }}</td>
                <td> 
                  <button nbButton shape="round" status="success" size="small" routerLink="../{{ employee.id }}/availability">
                    <nb-icon icon="calendar-outline"></nb-icon> Availability
                  </button>
                  
                  <button nbButton shape="round" status="primary" size="small" routerLink="../edit/{{ employee.id }}">
                    <nb-icon icon="edit-2-outline"></nb-icon> Edit
                  </button>
                  
                  <button nbButton shape="round" status="danger" size="small" (click)="delete(employee.id)">
                    <nb-icon icon="trash-2-outline"></nb-icon> Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

