<nb-card accent="primary">
  <nb-card-header>
    <button class="back-button" (click)="goBack()" type="button">
      <nb-icon icon="arrow-back-outline"></nb-icon>
    </button>
    Update User Detail
  </nb-card-header>
  
  <nb-card-body>
    <form (ngSubmit)="saveUser()" [formGroup]="userForm" aria-labelledby="UserDetail">
      <div class="row">
        <div class="col-sm-12">
          <br>
          <h1 class="section-heading">User Details</h1>
          <div class="section-divider"> 
            <span></span>
          </div>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="inputName" class="label">User Name</label>
            <input 
                type="text" 
                nbInput 
                fullWidth
                formControlName="name"
                name="name"
                autofocus
                id="inputName" 
                placeholder="User Name"
                required
                [status]="userForm.get('name').dirty ? (userForm.get('name').invalid  ? 'danger' : 'success') : 'basic'"
                [attr.aria-invalid]="userForm.get('name').invalid && userForm.get('name').touched ? true : null"
              >
              <ng-container *ngIf="userForm.get('name').invalid && userForm.get('name').touched">
                <p class="caption status-danger" *ngIf="userForm.get('name').errors?.required">
                  User name is required!
                </p>
              </ng-container>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="inputEmail" class="label">Email</label>
            <input 
              type="text" 
              nbInput 
              fullWidth
              formControlName="email"
              name="email"
              id="inputEmail" 
              placeholder="e-mail address"
              required
              [status]="userForm.get('email').dirty ? (userForm.get('email').invalid  ? 'danger' : 'success') : 'basic'"
              [attr.aria-invalid]="userForm.get('email').invalid && userForm.get('email').touched ? true : null"
            >
            <ng-container *ngIf="userForm.get('email').invalid && userForm.get('email').touched">
              <p class="caption status-danger" *ngIf="userForm.get('email').errors?.required">
                email is required!
              </p>
            </ng-container>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="inputAddress" class="label">Address</label>
            <input 
              type="text" 
              nbInput 
              fullWidth
              formControlName="address"
              name="address"
              id="inputContactNo"
              placeholder="Contact Number"
              required
              [status]="userForm.get('address').dirty ? (userForm.get('address').invalid  ? 'danger' : 'success') : 'basic'"
              [attr.aria-invalid]="userForm.get('address').invalid && userForm.get('address').touched ? true : null"
            >
            <ng-container *ngIf="userForm.get('address').invalid && userForm.get('address').touched">
              <p class="caption status-danger" *ngIf="userForm.get('address').errors?.required">
                Address is required!
              </p>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <br>
          <h1 class="section-heading">Credentials</h1>
          <div class="section-divider"> 
            <span></span>
          </div>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="inputPassword" class="label">Password</label>
            <nb-form-field>
              <input 
                type="password" 
                nbInput [type]="getInputType('p')"
                fullWidth
                formControlName="password"
                name="password"
                id="inputPassword" 
                placeholder="Password"
                required
                [status]="userForm.get('password').dirty ? (userForm.get('password').invalid  ? 'danger' : 'success') : 'basic'"
                [attr.aria-invalid]="userForm.get('password').invalid && userForm.get('password').touched ? true : null"
              >
              <button nbSuffix nbButton ghost (click)="toggleShowPassword()" type="button">
                <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                         pack="eva"
                         [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                </nb-icon>
              </button>
            </nb-form-field>
            <ng-container *ngIf="userForm.get('password').invalid && userForm.get('password').touched">
              <p class="caption status-danger" *ngIf="userForm.get('password').errors?.required">
                Password is required!
              </p>
            </ng-container>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="inputcPassword" class="label">Confirm Password</label>
            <nb-form-field>
              <input 
                type="password" [type]="getInputType('cp')"
                nbInput 
                fullWidth
                formControlName="cpassword"
                name="cpassword"
                id="inputcPassword" 
                placeholder="Confirm Password"
                required
                [status]="userForm.get('cpassword').dirty ? (userForm.get('cpassword').invalid  ? 'danger' : 'success') : 'basic'"
                [attr.aria-invalid]="userForm.get('cpassword').invalid && userForm.get('cpassword').touched ? true : null"
              >
              <button nbSuffix nbButton ghost (click)="toggleShowCPassword()" type="button">
                <nb-icon [icon]="showCPassword ? 'eye-outline' : 'eye-off-2-outline'"
                         pack="eva"
                         [attr.aria-label]="showCPassword ? 'hide password' : 'show password'">
                </nb-icon>
              </button>
            </nb-form-field>
            <ng-container *ngIf="userForm.get('cpassword').invalid && userForm.get('cpassword').touched">
              <p class="caption status-danger" *ngIf="userForm.get('cpassword').errors?.required">
                Confirm Password is required!
              </p>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 disable-form-field">
          <div class="form-group">
            <label for="inputWebsite" class="label">User Role</label><br/>
            <nb-select 
              formControlName="role_id"
              required
              fullWidth
              [status]="userForm.get('role_id').dirty ? (userForm.get('role_id').invalid  ? 'danger' : 'success') : 'basic'"
              [attr.aria-invalid]="userForm.get('role_id').invalid && userForm.get('role_id').touched ? true : null"
            
              >
              <nb-option *ngFor="let role of roles" [value]="role.id">
                {{ role.display_name }}
              </nb-option>
            </nb-select>
            <ng-container *ngIf="userForm.get('role_id').invalid && userForm.get('role_id').touched">
              <p class="caption status-danger" *ngIf="userForm.get('role_id').errors?.required">
                Role is required!
              </p>
            </ng-container>
          </div>
        </div>
      </div>
      <button 
          type="submit" 
          nbButton 
          status="primary"
          size="large"
          [disabled]="submitted || !userForm.valid"
          >Save</button>

          <!-- <button 
          type="submit" 
          nbButton 
          status="warning"
          size="large"
          [class.btn-pulse]="submitted">Reset</button> -->
    </form>
  </nb-card-body>
</nb-card>
