<nb-card accent="primary">
  <nb-card-header>
    <button class="back-button" (click)="goBack()">
      <nb-icon icon="arrow-back-outline"></nb-icon>
    </button>
    Job Requests
    <button nbButton status="primary" ngClass="btn-right" routerLink="../create" *ngIf="current_role == 'admin' || current_role == 'service_supervisor'"><nb-icon icon="plus-outline"></nb-icon>Add New Job</button>
  </nb-card-header>

  <nb-card-body>
    <div class="row">
      <div class="col-sm-3">
        <div class="job-approve-filter">
          <nb-select placeholder="Job Filter" [(ngModel)]="jobFilterNgModel" shape="round" (selectedChange)="filerChanged()">
            <nb-option value="all">All Jobs</nb-option>
            <nb-option value="approved">Approved</nb-option>
            <nb-option value="pending">Pending</nb-option>
          </nb-select>
          <br/> <br/>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="listing-table">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>Title</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Recurring Type</th>
                <th>Skill Category</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let job of jobs; let i = index"
              [class.active]="i == currentIndex"
              (click)="setActiveJob(tutorial, i)">
                <td>
                  <span nbTooltip="Approved Job" nbTooltipPlacement="right" *ngIf="job.is_accepted == 1"><nb-icon icon="done-all-outline" status="success" ></nb-icon></span>
                  <span nbTooltip="Pending Job" nbTooltipPlacement="right" *ngIf="job.is_accepted == 0"><nb-icon icon="clock-outline" status="warning"></nb-icon></span>
                </td>
                <td>{{ job.title | titlecase }}</td>
                <td>{{ job.start_date | date:'mediumDate' }}</td>
                <td>{{ job.end_date | date:'mediumDate' }}</td>
                <td>
                  <span *ngIf="job.is_recurring == 1">{{ job?.formatted_rrule?.recurring_type | titlecase }}</span>
                  <span *ngIf="job.is_recurring == 0">Not Recurring</span>
                </td>
                <td>
                  {{ job.category_name | titlecase }}
                </td>
                <td> 
                  <button nbButton shape="round" status="success" size="small" routerLink="../edit/{{ job.id }}" *ngIf="current_role == 'admin' || current_role == 'service_supervisor'">
                    <nb-icon icon="edit-2-outline"></nb-icon> Edit Job
                  </button>
                  <button nbButton shape="round" status="info" size="small" (click)="viewDetail(job)">
                    <nb-icon icon="info-outline"></nb-icon> View Job Detail
                  </button>
                  <button *ngIf="job.is_accepted == 1" nbButton shape="round" status="primary" size="small" routerLink="../{{ job.id }}/assign">
                    <nb-icon icon="person-done-outline"></nb-icon> Assign Job
                  </button>
                  
                  <!-- <button nbButton shape="round" status="danger" size="small" (click)="delete(job.id)">
                    <nb-icon icon="trash-2-outline"></nb-icon> Delete Job
                  </button> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

  </nb-card-body>
</nb-card>

<ng-template #windowTemplate let-data let-method="approveJob">
  <div class="row">
    <div class="col-sm-12">
      <table class="infoTable" [nbSpinner]="loading" nbSpinnerStatus="success">
        <tr>
          <td>
            Client
          </td>
          <td>
            ABC Constructions. Pty. Ltd.
          </td>
        </tr>
        <tr>
          <td>Title</td>
          <td>{{ data.title}}</td>
        </tr>
        <tr>
          <td>Description</td>
          <td>{{ data.description}}</td>
        </tr>
        <tr>
          <td>No. of employee</td>
          <td>{{ data.no_of_employee}}</td>
        </tr>
        <tr>
          <td>Start Date</td>
          <td>{{ data.start_date | date }}</td>
        </tr>
        <tr>
          <td>End Date</td>
          <td>{{ data.end_date | date }}</td>
        </tr>
        <tr>
          <td>Base Rate</td>
          <td>{{ data.base_rate}} </td>
        </tr>
        <tr>
          <td>Paid Frequency</td>
          <td>{{ data.paid_frequency}} </td>
        </tr>
        <tr>
          <td>Recurring Job</td>
          <td>
            <span *ngIf="data.is_recurring == 1">Yes</span>
            <span *ngIf="data.is_recurring == 0">Yes</span>
          </td>
        </tr>
        <tr *ngIf="data.is_accepted == 0">
          <td colspan="2">
            <button nbButton shape="round" status="primary" size="medium" (click)="approveJob(data.id)" fullWidth >
              <nb-icon icon="checkmark-circle-2-outline"></nb-icon> Approve Job
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</ng-template>

