<nb-card accent="primary">
  <nb-card-header>
    <button class="back-button" (click)="goBack()">
      <nb-icon icon="arrow-back-outline"></nb-icon>
    </button>
    Assign Employees to Job
  </nb-card-header>

  <nb-card-body>
    <div class="listing-table">
      <table>
        <thead>
          <tr>
            <th>Job Title</th>
            <th>Location</th>
            <th>No. of Employees Required</th>
            <th>Employee Skill</th>
            <th>Recurring/Job Timing</th>
            <th>Start Date</th>
            <th>End Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ jobDetail?.title }}</td>
            <td>{{ jobDetail?.location }}</td>
            <td>{{ jobDetail?.no_of_employee }}</td>
            <td>{{ jobDetail?.category_name }}</td>
            <td>
              <span>{{ jobDetail?.formatted_rrule?.human_readable}}</span>
            </td>
            <td>{{ jobDetail?.start_date }}</td>
            <td>{{ jobDetail?.end_date }}</td>

          </tr>
        </tbody>
      </table>
      </div>

      <br>
      <br>
      <br>

      <div class="row">
        <div class="col-sm-3">
          <div class="employee-selection">
            <div class="form-group">
              <label for="employeeSelection" class="label">Employee Selection</label><br>
              <nb-select multiple id="employeeSelection" placeholder="Select Employees" [(ngModel)]="selectedEmployeeNgModel" [(selected)]="savedEmployee" fullWidth>
                <nb-option *ngFor="let employee of employees" [value]="employee">{{ employee.name }}</nb-option>
              </nb-select>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="employee-list">
            <div class="form-group">
              <label for="employeeSelected" class="label">Assigned Employee</label>
              <ul id="employeeSelected" *ngIf="selectedEmployeeNgModel.length > 0">
                <li *ngFor="let employee of selectedEmployeeNgModel"> {{ employee.name }}</li>
              </ul>
              <ul id="employeeSelected" *ngIf="selectedEmployeeNgModel.length < 1">
                <li>No employee selected</li>
              </ul>

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="submission">
            <br> <br>
            <button 
              type="button" 
              nbButton 
              status="primary"
              size="medium"
              (click)="saveAssignedEmployee()"
            >Save Assigned Employees</button>
          </div>
        </div>
      </div>

  </nb-card-body>
</nb-card>