

<div class="row">
    <div class="col-sm-7">
        <div class="flexbox-container">
            <a routerLink="/pages/clients/list">
                <div class="app-card primary" id="volunteer-selection-ampersand-onboarding-card-color" >
                    <div class="image-container" id="volunteer-selection-ampersand-onboarding-icon"></div>
                    <div class="text-container">
                        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper">
                                <div class="front">
                                    <p class="title">Client Management</p>
                                </div>
                                <div class="back">
                                    <p class="description">View & manage clients</p>
                                </div>
                            </div>
                            <button class="action-btn" (click)="navigateMenu('/pages/clients/list')" *ngIf="current_role == 'admin' || current_role == 'service_supervisor'">Manage</button>
                        </div>
                    </div>
                </div>
            </a>
            
            <a routerLink="/pages/jobs/list">
                <div class="app-card success" id="drop-off-location-management-card-color">
                    <div class="image-container" id="drop-off-location-management-icon"></div>
                    <div class="text-container">
                        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper">
                                <div class="front">
                                    <p class="title">Job Management</p>
                                </div>
                                <div class="back">
                                    <p class="description">View & mange jobs</p>
                                </div>
                            </div>
                            <button class="action-btn" (click)="navigateMenu('/pages/jobs/list')" *ngIf="current_role == 'admin' || current_role == 'service_supervisor'">Manage</button>
                        </div>
                    </div>
                </div>
            </a>
            <a routerLink="/pages/employee/list">
            <div class="app-card warning" id="recommitment-dashboard-card-color">
                <div class="image-container" id="recommitment-dashboard-icon"></div>
                <div class="text-container">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <p class="title">Employee Management</p>
                            </div>
                            <div class="back">
                                <p class="description">View & manage employee</p>
                            </div>
                            
                        </div>
                        <button class="action-btn" (click)="navigateMenu('/pages/employee/list')" *ngIf="current_role == 'admin' || current_role == 'staff_manager'">Manage</button>
                    </div>
                </div>
            </div>
            </a>
            
            <a routerLink="/pages/time-sheet/list">
            <div class="app-card info" id="reporting-center-card-color">
                <div class="image-container" id="reporting-center-icon"></div>
                <div class="text-container">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <p class="title">Timesheet</p>
                            </div>
                            <div class="back">
                                <p class="description">View & Manage employee timesheet</p>
                            </div>
                        </div>
                        <button class="action-btn" (click)="navigateMenu('/pages/time-sheet/list')" *ngIf="current_role == 'admin' || current_role == 'staff_manager'">Manage</button>
                    </div>
                </div>
            </div>
            </a>
            
        </div>
            
    </div>
    <div class="col-sm-5">
        <div class="row">
            <div class="col-sm-4">
                <div class="info-card">
                    <div class="info-number">
                        {{ dashboardData?.client_report?.total_clients }}
                    </div>
                    <div class="info-title">
                        <span>Total</span>
                        Clients
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="info-card">
                    <div class="info-number">
                        {{ dashboardData?.job_report?.total_jobs }}
                    </div>
                    <div class="info-title">
                        <span>Total</span>
                        Jobs
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="info-card">
                    <div class="info-number">
                        {{ dashboardData?.job_report?.total_employee }}
                    </div>
                    <div class="info-title">
                        <span>Total</span>
                        Employees
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <nb-card>
            <nb-card-header>Account Balance Summary</nb-card-header>
            <nb-card-body>
                <div echarts [options]="pieOptions" class="echart"></div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-sm-6">
        <nb-card>
            <nb-card-header>Jobs Summary</nb-card-header>
            <nb-card-body>
                <div echarts [options]="areaPieOptions" class="echart"></div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-sm-4" *ngIf="current_role == 'admin' || current_role == 'payroll_officer'">
        <nb-card size="giant">
            <nb-tabset fullWidth>
          
              <nb-tab tabTitle="Client Invoice">
                <div class="list">
                  <div class="list-item" *ngFor="let c of dashboardData?.daily_report?.daily_invoice_amount_received">
                    <span class="c_amount"> {{ c.total_received | currency }}</span>
                    <span class="c_date">{{ c.date | date:'mediumDate' }}</span>
                  </div>
                </div>
              </nb-tab>
          
              <nb-tab tabTitle="Employee Payroll">
                <div class="list">
                  <div class="list-item" *ngFor="let c of dashboardData?.daily_report?.daily_money_paid_to_employee">
                    <span class="c_amount"> {{ c.total_paid | currency }}</span>
                    <span class="c_date">{{ c.date | date:'mediumDate' }}</span>
                  </div>
                </div>
              </nb-tab>
          
            </nb-tabset>
          </nb-card>
    </div>
    <div class="col-sm-8" *ngIf="current_role == 'admin' || current_role == 'payroll_officer'">
        <nb-card >
            <nb-card-header>Account Transaction</nb-card-header>
            <nb-card-body class="transaction">
                <div class="listing-table">
                    <table>
                        <thead>
                            <th>Transaction Id</th>
                            <th>Date</th>
                            <th>Credit</th>
                            <th>Debit</th>
                            <th>Running Balance</th>
                            <th>Transaction Description</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let transaction of transactions">
                              <td> {{ transaction.transactionId }}</td>
                              <td> {{ transaction.dateTime | date:'medium' }}</td>
                              <td> {{ transaction.credit }}</td>
                              <td> {{ transaction.debit }}</td>
                              <td> {{transaction.runningBalance }} </td>
                              <td> {{ transaction.description }}</td>
                            </tr>
                        </tbody>
                      </table>
                </div>
            </nb-card-body>
        </nb-card>
    </div>

</div>
