@import "../../@theme/styles/themes";

@include nb-install-component() {
  .nb-theme-default nb-card.size-tiny {
    height: auto !important;
  }
  .picture {
    background-position: center;
    background-size: cover;
    position: relative;
    border-top-left-radius: nb-theme(card-border-radius);
    border-top-right-radius: nb-theme(card-border-radius);
    flex: 1;
  }

  .details {
    padding: nb-theme(card-padding);
  }

  .description {
    text-align: center;
  }

  nb-card-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .link-icon {
    font-size: 1.75rem;
  }

  nb-icon {
    font-size: 1.55rem;

    ::ng-deep svg {
      vertical-align: top;
    }
  }
}

.size-tiny {
  height: auto !important;
}

.title {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.description {
  font-size: 0.8em;
}

a {
  text-decoration: none;
}

.flexbox-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 10px 0;
  margin-left: -10px;
  padding-bottom: 30px !important;
}

.app-card {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
}

.image-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.text-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50%;
  color: #fff;
}

/* BEGIN FLIPPING ANIMATION */

/* entire container, keeps perspective */

.flip-container {
  perspective: 1000px;
}

/* flipS the pane when hovered */

.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 100%;
  height: 60px;
  text-align: center;
}

/* flip speed goes here */

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  height: 58px;
}

/* hide back of pane during swap */

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */

.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */

.back {
  transform: rotateY(180deg);
}

/* BEGIN SPECIFIC CARD STYLES */

/* DOCUMENT RESOURCES */

#document-resources-icon {
  flex-basis: auto;
  background: url("https://cdn.samaritanspurse.org/global/occ/application-icons/document-resources.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

/* DROP-OFF LOCATION MANAGEMENT */

#drop-off-location-management-icon {
  flex-basis: auto;
  background: url("https://cdn.samaritanspurse.org/global/occ/application-icons/drop-off-location-management.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

/* HOME */

#home-icon {
  flex-basis: auto;
  background: url("https://cdn.samaritanspurse.org/global/occ/application-icons/home.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

/* LEADER INBOX */

#leader-inbox-icon {
  flex-basis: 60%;
  background: url("https://cdn.samaritanspurse.org/global/occ/application-icons/leader-inbox.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

/* MY PROFILE SETTINGS */

#my-profile-settings-icon {
  flex-basis: auto;
  background: url("https://cdn.samaritanspurse.org/global/occ/application-icons/my-profile-settings.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

/* NATIONAL PARTNERSHIP RESOURCES */

#national-partnership-resources-icon {
  flex-basis: 80%;
  background: url("https://cdn.samaritanspurse.org/global/occ/application-icons/national-partnership-resources.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

/* RECOMMITMENT DASHBOARD */

#recommitment-dashboard-icon {
  flex-basis: auto;
  background: url("https://cdn.samaritanspurse.org/global/occ/application-icons/recommitment-dashboard.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

/* REPORTING CENTER */

#reporting-center-icon {
  flex-basis: auto;
  background: url("https://cdn.samaritanspurse.org/global/occ/application-icons/reporting-center.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

/* VIDEO RESOURCES */

#video-resources-icon {
  flex-basis: 60%;
  background: url("https://cdn.samaritanspurse.org/global/occ/application-icons/video-resources.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

/* VOLUNTEER SELECTION & ONBOARDING */

#volunteer-selection-ampersand-onboarding-icon {
  flex-basis: 85%;
  background: url("https://cdn.samaritanspurse.org/global/occ/application-icons/volunteer-selection-ampersand-onboarding.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.flipper {
  p {
    color: #fff !important;
  }
}

.primary,
.primary .action-btn:hover {
  background: #0095ff !important;
  color: #fff !important;
}

.success,
.success .action-btn:hover {
  background: #00d68f !important;
  color: #fff !important;
}

.warning,
.warning .action-btn:hover {
  background: #ffaa00 !important;
  color: #fff !important;
}

.danger,
.danger .action-btn:hover {
  background: #ff3d71 !important;
  color: #fff !important;
}

.info,
.info .action-btn:hover {
  background: #0095ff !important;
  color: #fff !important;
}

.action-btn {
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.action-btn:hover {
  background-color: #2ee59d;
  box-shadow: 0px 0px 20px rgba(48, 48, 48, 0.6);
  color: #fff;
  transform: translateY(-7px);
}

.info-card {
  background: #ff3d71;
  width: 100%;
  height: 200px;
  margin-top: 20px;
  padding: 15px;
  border-radius: 4px;

  .info-number {
    text-align: center;
    font-size: 6em;
    color: #fff;
    line-height: 1em;
    margin-top: 0.3rem;
  }
  .info-title {
    text-align: center;
    color: #fff;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
    span {
      font-size: 0.8rem;
      display: block;
    }
  }
}

nb-tab.content-active {
  padding: 0;
}

.list {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: auto;

  .list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #edf1f7;
    color: #222b45;
    font-family: Open Sans, sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.25rem;
    padding: 1rem;

    &:first-child {
      border-top: none;
    }

    .c_amount {
    }
    .c_date {
    }
  }
}

td,
th {
  border: 1px solid #f0f0f0 !important;
  padding: 10px 8px !important;
}

.transaction {
  padding: 0px !important;
  max-height: 650px;
  overflow: scroll;
}
