<form [formGroup]="employeeForm" (ngSubmit)="updateEmployee()">
  <nb-card accent="primary">
    <nb-card-header>
      <button class="back-button" (click)="goBack()" type="button">
        <nb-icon icon="arrow-back-outline"></nb-icon>
      </button>
      Update Employee Detail
    </nb-card-header>
    
    <nb-card-body>
      <div class="row">
        <div class="col-sm-12">
          <h1 class="section-heading">Employee Details</h1>
          <div class="section-divider"> 
            <span></span>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="inputName" class="label">Full Name</label>
              <input 
                  type="text" 
                  nbInput 
                  fullWidth
                  formControlName="name"
                  name="name"
                  autofocus
                  id="inputName" 
                  placeholder="Full Name"
                  required
                  [status]="employeeForm.get('name').dirty ? (employeeForm.get('name').invalid  ? 'danger' : 'success') : 'basic'"
                  [attr.aria-invalid]="employeeForm.get('name').invalid && employeeForm.get('name').touched ? true : null"
                >
                <ng-container *ngIf="employeeForm.get('name').invalid && employeeForm.get('name').touched">
                  <p class="caption status-danger" *ngIf="employeeForm.get('name').required">
                    Employee Name is required.
                  </p>
                </ng-container>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputEmail" class="label">Email</label>
              <input 
                  type="text" 
                  nbInput 
                  fullWidth
                  formControlName="email"
                  name="email"
                  id="inputEmail" 
                  placeholder="Email"
                  required
                  [status]="employeeForm.get('email').dirty ? (employeeForm.get('email').invalid  ? 'danger' : 'success') : 'basic'"
                  [attr.aria-invalid]="employeeForm.get('email').invalid && employeeForm.get('email').touched ? true : null"
                >
                <ng-container *ngIf="employeeForm.get('email').invalid && employeeForm.get('email').touched">
                  <p class="caption status-danger" *ngIf="employeeForm.get('email').required">
                    Email is required.
                  </p>
                </ng-container>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputSkill" class="label">Skill Category</label>
              <nb-select formControlName="category_id" name="category_id" id="inputCatId" fullWidth>
                <nb-option *ngFor="let category of categories" [value]="category.id">
                  {{ category.name }}
                </nb-option>
              </nb-select>
                <ng-container *ngIf="employeeForm.get('category_id').invalid && employeeForm.get('category_id').touched">
                  <p class="caption status-danger" *ngIf="employeeForm.get('category_id').required">
                    Skill is required.
                  </p>
                </ng-container>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputPhoneNumber" class="label">Phone Number</label>
              <input 
                  type="text" 
                  nbInput 
                  fullWidth
                  formControlName="phone_number"
                  name="phone_number"
                  id="inputPhoneNumber" 
                  placeholder="Phone Number"
                  required
                  [status]="employeeForm.get('phone_number').dirty ? (employeeForm.get('phone_number').invalid  ? 'danger' : 'success') : 'basic'"
                  [attr.aria-invalid]="employeeForm.get('phone_number').invalid && employeeForm.get('phone_number').touched ? true : null"
                >
                <ng-container *ngIf="employeeForm.get('phone_number').invalid && employeeForm.get('phone_number').touched">
                  <p class="caption status-danger" *ngIf="employeeForm.get('phone_number').required">
                    Phone Number of employee is required.
                  </p>
                </ng-container>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputAddress" class="label">Address</label>
              <input 
                  type="text" 
                  nbInput 
                  fullWidth
                  formControlName="address"
                  name="address"
                  id="inputAddress" 
                  placeholder="Address"
                  required
                  [status]="employeeForm.get('address').dirty ? (employeeForm.get('address').invalid  ? 'danger' : 'success') : 'basic'"
                  [attr.aria-invalid]="employeeForm.get('address').invalid && employeeForm.get('address').touched ? true : null"
                >
                <ng-container *ngIf="employeeForm.get('address').invalid && employeeForm.get('address').touched">
                  <p class="caption status-danger" *ngIf="employeeForm.get('address').required">
                    Address of employee is required.
                  </p>
                </ng-container>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputLicenseNumber" class="label">License Number</label>
              <input 
                  type="text" 
                  nbInput 
                  fullWidth
                  formControlName="license_number"
                  name="license_number"
                  id="inputLicenseNumber" 
                  placeholder="License Number"
                  required
                  [status]="employeeForm.get('license_number').dirty ? (employeeForm.get('license_number').invalid  ? 'danger' : 'success') : 'basic'"
                  [attr.aria-invalid]="employeeForm.get('license_number').invalid && employeeForm.get('license_number').touched ? true : null"
                >
                <ng-container *ngIf="employeeForm.get('license_number').invalid && employeeForm.get('license_number').touched">
                  <p class="caption status-danger" *ngIf="employeeForm.get('license_number').required">
                    License Number is required.
                  </p>
                </ng-container>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputPaidFrequency" class="label">Paid Frequency</label><br>
  
              <nb-select formControlName="frequency" name="frequency" id="inputPaidFrequency" required>
                <nb-option *ngFor="let option of paidFrequencyOptions" [value]="option.value">
                  {{ option.title }}
                </nb-option>
              </nb-select>
                <ng-container *ngIf="employeeForm.get('frequency').invalid && employeeForm.get('frequency').touched">
                  <p class="caption status-danger" *ngIf="employeeForm.get('frequency').required">
                    Frequency is required.
                  </p>
                </ng-container>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputBaseRate" class="label">Base Rate</label>
              <input 
                  type="number" 
                  nbInput 
                  fullWidth
                  formControlName="base_rate"
                  name="base_rate"
                  id="inputBaseRate" 
                  placeholder="Base Rate"
                  required
                  [status]="employeeForm.get('base_rate').dirty ? (employeeForm.get('base_rate').invalid  ? 'danger' : 'success') : 'basic'"
                  [attr.aria-invalid]="employeeForm.get('base_rate').invalid && employeeForm.get('base_rate').touched ? true : null"
                >
                <ng-container *ngIf="employeeForm.get('base_rate').invalid && employeeForm.get('base_rate').touched">
                  <p class="caption status-danger" *ngIf="employeeForm.get('base_rate').required">
                    Base Rate is required.
                  </p>
                </ng-container>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputDescription" class="label">Description</label>
              <input 
                  type="text" 
                  nbInput 
                  fullWidth
                  formControlName="description"
                  name="description"
                  
                  id="inputDescription" 
                  placeholder="Enter short description"
                  required
                  [status]="employeeForm.get('description').dirty ? (employeeForm.get('description').invalid  ? 'danger' : 'success') : 'basic'"
                  [attr.aria-invalid]="employeeForm.get('description').invalid && employeeForm.get('description').touched ? true : null"
                >
                <ng-container *ngIf="employeeForm.get('description').invalid && employeeForm.get('description').touched">
                  <p class="caption status-danger" *ngIf="employeeForm.get('description').required">
                    Description is required.
                  </p>
                </ng-container>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
              <label for="inputPhoto" class="label">Photo</label>
              <input 
              type="file" 
              nbInput 
              fullWidth
              formControlName="photo"
              name="photo"
              id="inputPhoto" 
              placeholder="Select Photo"
              (change)="onFileChange($event)"
              [status]="employeeForm.get('photo').dirty ? (employeeForm.get('photo').invalid  ? 'danger' : 'success') : 'basic'"
              [attr.aria-invalid]="employeeForm.get('photo').invalid && employeeForm.get('photo').touched ? true : null"
            >
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputStatus" class="label">Status</label> <br>
              <nb-select formControlName="status" name="status" id="inputStatus">
                <nb-option *ngFor="let option of statusOptions" [value]="option.value">
                  {{ option.title }}
                </nb-option>
              </nb-select>
              <ng-container *ngIf="employeeForm.get('status').invalid && employeeForm.get('status').touched">
                <p class="caption status-danger" *ngIf="employeeForm.get('status').required">
                  status is required.
                </p>
              </ng-container>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h1 class="section-heading">Bank Detail</h1>
            <div class="section-divider"> 
              <span></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputBsbNumber" class="label">BSB Number</label>
              <input 
                  type="text" 
                  nbInput 
                  fullWidth
                  formControlName="bsb_number"
                  name="bsb_number"
                  id="inputBsbNumber" 
                  placeholder="Enter BSB Number"
                  required
                  [status]="employeeForm.get('bsb_number').dirty ? (employeeForm.get('bsb_number').invalid  ? 'danger' : 'success') : 'basic'"
                  [attr.aria-invalid]="employeeForm.get('bsb_number').invalid && employeeForm.get('bsb_number').touched ? true : null"
                >
                <ng-container *ngIf="employeeForm.get('bsb_number').invalid && employeeForm.get('bsb_number').touched">
                  <p class="caption status-danger" *ngIf="employeeForm.get('bsb_number').required">
                    BSB Number is required.
                  </p>
                </ng-container>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputAccountNumber" class="label">Account Number</label>
              <input 
                  type="text" 
                  nbInput 
                  fullWidth
                  formControlName="account_number"
                  name="account_number"
                  id="inputAccountNumber" 
                  placeholder="Enter Account Number"
                  required
                  [status]="employeeForm.get('account_number').dirty ? (employeeForm.get('account_number').invalid  ? 'danger' : 'success') : 'basic'"
                  [attr.aria-invalid]="employeeForm.get('account_number').invalid && employeeForm.get('account_number').touched ? true : null"
                >
                <ng-container *ngIf="employeeForm.get('account_number').invalid && employeeForm.get('account_number').touched">
                  <p class="caption status-danger" *ngIf="employeeForm.get('account_number').required">
                    Account Number is required.
                  </p>
                </ng-container>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-buttons">
              <button 
              type="submit" 
              nbButton 
              status="primary"
              size="large"
              [disabled]="submitted || !employeeForm.valid"
              [class.btn-pulse]="submitted"
              >Save</button>
            </div>
          </div>
        </div>
    </nb-card-body>
  </nb-card>
  
  </form>
  