<nb-card accent="primary">
  <nb-card-header>
    <button class="back-button" (click)="goBack()">
      <nb-icon icon="arrow-back-outline"></nb-icon>
    </button>
    Employee Time Sheet
    <button nbButton status="primary" ngClass="btn-right" routerLink="../create"><nb-icon icon="plus-outline"></nb-icon>Add New Time Sheet</button>
  </nb-card-header>

  <nb-card-body>
    <div class="row">
      <div class="col-sm-12">
        <div class="timesheet-filter">
          <nb-select placeholder="Select Employee" [(ngModel)]="employeeFilterNgModel" shape="round" (selectedChange)="filerChanged()">
            <nb-option *ngFor="let employee of employees; let i = index" [value]="employee.id">{{ employee.name }}</nb-option>
          </nb-select>
          <br/> <br/>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="listing-table">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Total Hours</th>
                <th>Is Special Shift?</th>
                <th>Special Rate</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngIf="timeSheets.length > 0">
              <tr *ngFor="let timeSheet of timeSheets; let i = index">
                <td></td>
                <td>{{ timeSheet?.start_date_time | date:'medium'}}</td>
                <td>{{ timeSheet?.end_date_time | date:'medium'}} </td>
                <td> {{ calculateDiff(timeSheet?.end_date_time, timeSheet?.start_date_time) }} </td>
                <td> 
                  <span *ngIf="timeSheet?.is_special_shift == 0"> No </span>
                  <span *ngIf="timeSheet?.is_special_shift == 1"> Yes </span>
                </td>
                <td>
                  <span *ngIf="timeSheet?.is_special_shift == 0"> N/A </span>
                  <span *ngIf="timeSheet?.is_special_shift == 1"> ${{ timeSheet?.special_rate}} p/h </span>
                </td>
                <td> 
                  <button nbButton shape="round" status="primary" size="small" routerLink="../edit/{{ timeSheet.id }}">
                    <nb-icon icon="edit-2-outline"></nb-icon> Edit
                  </button>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="timeSheets.length == 0">
              <tr>
                <td colspan="5" class="text-center table-no-data">
                  Please Select Employee to view Timesheet
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

